.register{
	width: auto;
	height: auto;
 	display: grid;
 	/*top: 50%;
 	left: 50%;*/
 	/*justify-items: center;*/
/* 	box-sizing: border-box;*/
 	/*align-items: center;*/
 	/*position: absolute;*/
 	/*transform: translate(-50%,-50%);*/
 	/*background-color: white;*/
 	/*border-radius: 7px;*/
}

/*-----------register form-------------*/

#password-form{
	align-self: flex-start;
 	display: grid;
 	justify-items: center;
 	/*align-items: center;*/
/* 	position: relative;*/
}

/*.login-form-field::placeholder {
  
}
*/
.password-form-field{
	width: 85%;
	height: 70%;
	/*align-items: center;*/
	background-color: #E8E8E8;
	color: #939393; 
	/*width: 20%*/
	font-size: 15px;
	border: none;
 	margin: 10px;
 	outline: none;
 	padding: 15px;
}

.password-form-field:hover{
	background-color: #C9C9C9;
	/*color: #EBEBEB;*/
}



/*---------- register button -----------*/

#submit-button{
	position: relative;
	width: 85%;
	font-size: 20px;
	/*font-weight: bold;*/
	border: none;
	outline: none;
	background-color: #22627C;
	color: #FFFFFF;
	padding: 10px;
	margin: 10px 10px 10px 35px;
	cursor: pointer;
}

#submit-button:hover{
	background-color: #2E7FA1;
}